<footer>
        <div class="footer__top section">
            <div class="container">
                <div class="footer__grid row">
                    <div class="col-lg-4 col-12">
                        <h3>Về chúng tôi</h3>
                        <p>Hệ thống học trực tuyến E-Learning được phát triển bởi Techie, nhằm phục vụ việc học online của học sinh,
                            chúng tôi có sứ mệnh đem đến một nền tảng học trực tuyến tiện lợi, chất lượng và đảm bảo an toàn trong thời kì dịch bệnh
                        </p>
                    </div>
                    <div class="col-lg-4 col-12">
                        <h3>Tin tức mới</h3>
                        <div class="footer__link">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <a href="">Tuyển gia sư năm 2021</a>
                        </div>
                        <div class="footer__link">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <a href="">Ra mắt hệ thống thi online</a>
                        </div>
                        <div class="footer__link">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <a href="">Năm học mới bắt đầu</a>
                        </div>
                        <div class="footer__link">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <a href="">Big update</a>
                        </div>
                        <div class="footer__link">
                            <i class="fa fa-long-arrow-alt-right"></i>
                            <a href="">Thông báo về thay đổi quy chế quản lí giáo viên</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <h3>Thông tin liên hệ</h3>
                        <div class="footer__contact">
                            <i class="fa fa-map-marker-alt"></i>
                            <a href="">117 Nguyễn Phong Sắc - HN</a>
                        </div>
                        <div class="footer__contact">
                            <i class="far fa-envelope"></i>
                            <a href="mailto: manhquan24072000@gmail.com"> manhquan24072000@gmail.com</a>
                        </div>
                        <div class="footer__contact">
                            <i class="fas fa-phone-alt"></i>
                            <a href="tel:0382407247"> 038.240.7247</a>
                        </div>
                    </div>
                </div>
                <div class="footer__form">
                    <form>
                        <div class="form-group  form-row ">
                            <label class="col-lg-4 col-12  col-form-label" for="staticEmail2">Đóng góp ý kiến </label>
                            <div class="col-lg-6 col-8">
                                <input type="email" class="form-control input__comment" id="staticEmail2"
                                    placeholder="Nhập ý kiến đóng góp" minlength="100">
                            </div>
                            <div class="col-lg-2 col-4 text-center">
                                <button type="submit" class="btn btn-primary comment__btn">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div>
                © 2021 Copyright. All rights reserved | Design by <a href="#">Techie</a>
            </div>
        </div>
    </footer>
    <script>
        const comment__btn = document.querySelector('.comment__btn');
        comment__btn.addEventListener('click',(e) => {
            e.preventDefault();
            alert("Ý kiến của bạn đã được ghi nhận, xin cám ơn")
        })
    </script>