<header>
        <div class="header__top d-flex justify-content-between align-items-center container-fluid py-2">
            <div class="header__left ">
                <a class="mr-4" href="tel:0382407247"><i class="fas fa-phone-alt"></i> 038.240.7247</a>
                <a href="mailto:manhquan24072000@gmail.com"><i class="far fa-envelope"></i>Techie@gmail.com</a>
            </div>
            <div class="header__right">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <nav class="header__nav navbar navbar-expand-md container">
            <a class="navbar-brand text-center" href="">
                <p class="mb-0"><i class="fa fa-book"></i> E-LEARNING</p>
                <p class="mb-0">EDUCATION</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarInstruction"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarInstruction">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/class">LỚP HỌC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">THÔNG TIN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fa fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                            <!-- Dropdown header -->
                            <div class="px-3 py-3">
                                <h6 class="text-sm m-0">bạn có <strong class="text-primary">2</strong> thông báo mới.
                                </h6>
                            </div>
                            <!-- List group -->
                            <div class="list-group list-group-flush">
                                <a href="#!" class="list-group-item list-group-item-action">
                                    <div class="row align-items-center">
                                        <div class="col-auto">

                                            <!-- Avatar -->
                                            <img alt="Image placeholder" src="./img/test1.jpg"
                                                class="avatar rounded-circle ct">
                                        </div>
                                        <div class="col .header__noti">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0 text-sm">Nguyenhoang</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <small>2 hrs ago</small>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0 header__notip">Đã gửi gửi một yêu cầu</p>
                                        </div>
                                    </div>
                                </a>
                                <a href="#!" class="list-group-item list-group-item-action">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <img alt="Image placeholder" src="./img/test1.jpg"
                                                class="avatar rounded-circle">
                                        </div>
                                        <div class="col .header__noti">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <h4 class="mb-0 text-sm">John Snow</h4>
                                                </div>
                                                <div class="text-right text-muted">
                                                    <small>3 hrs ago</small>
                                                </div>
                                            </div>
                                            <p class="header__notip text-sm mb-0">Update your homework.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- View all -->
                            <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3 header__notiview">View
                                all</a>
                        </div>
                    </li>
                    <li class="nav-item header__user">
                        
                        <a data-toggle="tooltip" title="Cá nhân" href="/profile"><img src="./img/user.png" alt="user" style="object-fit: cover;" ></a>
                    </li>
                    <li class="nav-item header__signout">
                        <a data-toggle="tooltip" title="Đăng xuất" href="/logout"><i class=" nav-link fa fa-sign-out-alt"></i></a>
                    </li>
                    
                </ul>
            </div>
        </nav>

    </header>