<li class="nav-item dropdown">
    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">notifications</i>
        <span class="notification">5</span>
        <p class="d-lg-none d-md-block">
        Some Actions
        </p>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Hồ sơ mới từ khiem2k1, kiểm tra ngay!</a>
        <a class="dropdown-item" href="#">Hồ sơ mới từ khiem2k2, kiểm tra ngay!</a>
        <a class="dropdown-item" href="#">Xuannguyen đã tạo lớp, kiểm tra ngay!</a>
        <a class="dropdown-item" href="#">Hồ sơ mới từ nguyenhoang1, kiểm tra ngay!</a>
        <a class="dropdown-item" href="#">Hoa12 đã tạo lớp, kiểm tra ngay!</a>
        <a class="dropdown-item" href="#">Đóng góp ý kiến từ hoangnguyen98</a>
    </div>
</li>