<!doctype html>
<html lang="en">
  <head>
  	<title>Carousel 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="css/ab/css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/ab/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
		<link rel="stylesheet" href="css/ab/css/style.css">
        <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- Main - CSS  -->
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
  </head>
  <body>
		{{>header}}
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="heading-section">Thành viên sáng lập</h2>
					</div>
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel">
							<div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Là một sinh viên của BTEC FPT với đam mê bất tận với nghành công nghệ thông tin</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(css/ab/images/khiem.jpeg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Khiêm</p>
		                    <span class="position">CEO-Founder</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Một người năng động, có niềm yêu thích lớn với IT, đặc biệt là đối với nghành bảo mật</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(css/ab/images/thanh.jpeg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Lò Tiến Thành</p>
		                    <span class="position">CEO</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Là một sinh viên suất sắc qua nhiều kì học của BTEC FPT, thêm vào đó cũng là một cô gái năng động</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(css/ab/images/huyen.jpeg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Đặng Thu Huyền</p>
		                    <span class="position">CEO</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Là một học sinh xuất sắc của BTEC-FPT, anh luôn luôn rất tận tuỵ với công việc của mình</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(css/ab/images/quan.jpeg)"></div>
                    	<div class="pl-3">
		                    <p class="name">Bùi Mạnh Quân</p>
		                    <span class="position">CEO</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Là một người có đam mê rất lớn với thuật toán, thêm vào đó anh cũng làm việc vô cùng có trách nhiệm</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(css/ab/images/tananh.png)"></div>
                    	<div class="pl-3">
		                    <p class="name">Nguyễn Tấn Anh</p>
		                    <span class="position">CEO</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>
        <div class="row">
          <div class="col-md-12 text-left">
            <div class="heading-section">Về dự án</div>
          </div>
          <div class="col-md-12 d-flex justify-content-around text-dark">
            <div class="col-md-4 mg-2">
              <div class="card" style="height: 220px; padding:10px">
                Xuất phát từ ý tưởng hỗ trợ những học sinh, sinh viên đang gặp khó khăn vì việc học do covid,
                nhóm đã bắt tay lên một ý tưởng để có thể hỗ trợ việc học của các bạn, và ý tưởng được đưa ra là "Gia sư online"
              </div>
            </div>
            <div class="col-md-4 mg-2">
              <div class="card" style="height: 220px; padding:10px">
                Dự án sẽ hộ trợ các bậc phụ huynh và học sịnh rất nhiều trong việc học gai sư online trong tình hình dịch bệnh đang rất 
                căng thẳng hiện nay, học sinh sẽ không còn lo phải đến các trung tâm để học mà vẫn đảm bảo đầy đủ kiến thức, học cũng những 
                giảng viên chất lượng cao
              </div>
            </div>
            <div class="col-md-4 mg-2">
              <div class="card" style="height: 220px; padding:10px">
                Dự án bắt đầu được triển khai từ tháng 10 năm 2020, đến hiện nay đã có hơn 700 bạn tin chọn nền tảng, hơn 200 giáo viên được 
                đăng ký giảng dạy. Nền tảng đang trong quá trình phát triển nhanh và dự kiến sẽ trở thành nền tảng học online số một Việt Nam
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>
    {{>footer}}
    <script src="css/ab/js/jquery.min.js"></script>
    <script src="css/ab/js/popper.js"></script>
    <script src="css/ab/js/bootstrap.min.js"></script>
    <script src="css/ab/js/owl.carousel.min.js"></script>
    <script src="css/ab/js/main.js"></script>
  </body>
</html>